# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_MoooseFree_LEFT
    def_bool $(shields_list_contains,MoooseFree_left)

config SHIELD_MoooseFree_RIGHT
    def_bool $(shields_list_contains,MoooseFree_right)